- content_for :header do
  %h2
    New RSVP Submission on xjdecember.com

%p
  Here are the details of the new submission:
- @rsvp.guests.each_with_index do |guest, index|
  .well
    - if @rsvp.guests.length > 1
      %h3= "Guest #{index+1}:"
    %p
      %strong
        Guest Name:
      = guest.name
    %p
      %strong
        Guest Email:
      = guest.email
    - if guest.diet.present?
      %p
        %strong
          Dietary Restrictions:
        = guest.diet
    %p
      %strong
        Attending?
      = (guest.attending ? 'YES' : 'NO')
